.buttons {
    display: flex;
}

.button_save {
    margin-left: 10px;
}

.active {
    background-color: lightgreen;
    margin-bottom: 0 !important;
    border-radius: 6px 6px 0 0;
}

.div-table_background {
    background: #efefef;
}

.full_width {
    width: 100%;
}

.margin_button {
    margin-bottom: 10px;
}
/* modal_window */
.modal_window {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    background-color: rgba(211, 212, 219, 0.7);
}
.modal_window-content {
    display: flex;
    flex-direction: column;
    width: 330px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #d5d5d5;
}
.modal_window-content-person-card {
    display: flex;
    flex-direction: column;
    width: 460px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #d5d5d5;
}
.modal_window-content-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border: 1px solid #99999961;
    border-radius: 10px 10px 0 0;
    background-color: #dfdfdf;
}
.modal_window-content-caption {
    margin-left: 10px;
    font-family: sans-serif;
}
.modal_window-content-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_window-content-title-text-horizontal-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal_window-content-title-vertical-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.modal_window-content-title-text {
    margin: 10px;
    font-family: sans-serif;
}
.modal_window-content-title-text-half-width {
    margin: 10px;
    width: 50%;
    font-family: sans-serif;
}
.modal_window-content-title-text-center {
    margin: 10px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}
.modal_window-content-title-text-left {
    margin: 10px;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
}
.button-close {
    background-image: url(../icons/close.svg);
    background-size: 45px;
    background-repeat: no-repeat;
    background-position-y: -7px;
    background-position-x: -7px;
    background-color: #dfdfdf;
    width: 31px;
    height: 31px;
    transition: 0.3s;
    border-radius: 7px;
    border: none;
    margin: 0 0 0 auto;
}
.button-close:hover {
    background-image: url(../icons/close_white.svg);
    transition: 0.3s;
    background-color: #dc3545;
}

.button-delete {
    background-image: url(../icons/delete.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-y: 3px;
    background-position-x: 3px;
    background-color: #dfdfdf;
    width: 31px;
    height: 31px;
    transition: 0.3s;
    border-radius: 7px;
    border: none;
    margin: 0 0 0 auto;
}
.button-delete:hover {
    background-image: url(../icons/delete_white.svg);
    transition: 0.3s;
    background-color: #5b595a;
}

.button-person_edit {
    background-image: url(../icons/person.svg);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position-y: -4px;
    background-position-x: 1px;
    background-color: #dfdfdf;
    width: 36px;
    height: 27px;
    transition: 0.3s;
    border-radius: 7px;
    border: none;
    margin: 0 0 0 auto;
}
.button-person_edit:hover {
    background-image: url(../icons/person_white.svg);
    transition: 0.3s;
    background-color: #5b595a;
}

.button-edit {
    background-image: url(../icons/edit.svg);
    background-size: 45px;
    background-repeat: no-repeat;
    background-position-y: -7px;
    background-position-x: -7px;
    background-color: #dfdfdf;
    width: 31px;
    height: 31px;
    transition: 0.3s;
    border-radius: 7px;
    border: none;
    margin: 0 0 0 auto;
}
.button-edit:hover {
    background-image: url(../icons/edit_white.svg);
    transition: 0.3s;
    background-color: #5b595a;
}

.modal_window-buttons {
    display: flex;
    flex-flow: row wrap;
    margin-top: auto;
}
.modal_window-btn-ok {
    margin: 10px auto 10px 10px;
}
.modal_window-btn-cancel {
    margin: 10px;
}


/* notification */

.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: lightblue;
    border: 2px solid blue;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.notification-fade-it {
    z-index: 10;
    opacity: 1;
}
.notification-fade-out {
    z-index: -9999;
    opacity: 0;
    transition: opacity 0.2s;
}
.notification-content {
    position: absolute;
    width: 330px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #99999961;
}

.div_title-status-block {
    display: flex;
    justify-content: space-between;
}
.div_radio-buttons {
    display: flex;
}
.div_radio-button-block {
    margin-left: 10px;
}
/* радио кнопка */
.radio-button_input[type="radio"] {
    display: none; /* скрываем стандартный input */
}
.radio-button_input[type="radio"] + .radio-button_label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    /*background: linear-gradient(to bottom, #ff0000, #ff6600, #333333);*/
    /*border: 1px solid #cc0000;*/
    /*background: linear-gradient(to bottom, #cccccc, #999999);*/
    /*border: 1px solid #999999;*/
    /*background: linear-gradient(to bottom, #76b852, #8dc26f);*/
    /*border: 1px solid #5d9436;*/
    background: linear-gradient(to bottom, #23bf23, #94ff5a, #0c6b0c);
    border: 1px solid #169716;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
}
.radio-button_input:hover[type="radio"] + .radio-button_label {
    background: linear-gradient(to bottom, #ff6600, #ff9900, #333333);
    border-color: #af4500;
    cursor: pointer;
}
.radio-button_input:active[type="radio"] + .radio-button_label {
    /*background: linear-gradient(to bottom, #cc0000, #cc3300, #333333);*/
    /*color: #fff;*/
    /*border-color: #666666;*/
}
.radio-button_input:focus[type="radio"] + .radio-button_label {
    outline: none;
}
.radio-button_input:disabled[type="radio"] + .radio-button_label {
    opacity: 0.5;
    cursor: not-allowed;
}
.radio-button_input[type="radio"]:checked + .radio-button_label {
    background: linear-gradient(to bottom, #cc0000, #cc3300, #333333);
    color: #fff;
    border-color: #ff6666; /* цвет рамки при выборе */
}
.radio-button_label {

}
